/* navigazione */
header {
  display: contents;
}

.ps_container-fluid{
  left: 0;
  right: 0;
}

nav .hover_none:hover a{
  background-color: transparent;
}

.vita::after{
  display: none;
}

.ps_bull span:first-child{
  color: blue;
  font-size: 20px;
}

/* jumbo */
.ps_Background-game{
  background: url(../img/jumbo-bg.png) center no-repeat;
  background-size: cover;
}

.ps_Background-game .row{
  min-height: 600px;
}

.ps_btn-orange{
  background-color: #cd3d0f;
}

/* card */
ul {
  list-style-type: none;
}

.ps_hover_card {
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid transparent;
  transition: all 0.5s;
}

.ps_hover_card.active, .ps_hover_card:hover{
  border: 4px solid var(--bs-blue);
  box-shadow: inset 0 0 2px white;
  outline: 2px solid white;
  outline-offset: -4px;
  transform: translate( 0, -20px);
}

.debug_border{
  border: 1px solid red;
}

