:root {
  --font-weight-500: 500;
  --bs-black: black;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(204, 204, 204, 0.5);
  box-shadow: inset 1px 1px 5px rgba(153, 153, 153, 0.5);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(204, 204, 204, 1);
  box-shadow: inset 1px 1px 5px rgba(153, 153, 153, 1);
}

/* navigazione */
header {
  display: contents;
}

.ps_bg-black{
  background-color: var(--bs-black);
}

nav .hover_none:hover a{
  background-color: transparent;
}

.vita::after{
  display: none;
}

.navbar .nav-item .ps_text-dark{
  color: var(--bs-black);
  font-weight: var(--font-weight-500);
}

.navbar .nav-item .ps_text-dark:hover{
  color: var(--bs-blue);
}

.icons-nav{
  font-size: 14px;
  color: #a3a3a3;
  transition: all 0.5s linear;
}

nav ul li a:hover .icons-nav{
  color: var(--bs-blue);
  transform: rotate(180deg);
}

.ps_dropdown-item-shadow:hover{
  box-shadow: 0px 0px 10px #a3a3a3;
}

.ps_bull span{
  color: var(--bs-blue);
  font-size: 20px;
}

.ps_nav-shadow{
  box-shadow: 0px 20px 40px -20px;
}

/* jumbo */
.ps_Background-game{
  background: url(../img/jumbo-bg.png) center no-repeat;
  background-size: cover;
}

.ps_Background-game-new{
  background: url(../img/it-takes-two-hero-banner-desktop.jpg) center no-repeat;
  background-size: cover;
}

.ps_Background-game .row{
  min-height: 600px;
}

.ps_btn-orange{
  background-color: #cd3d0f;
}

/* card */
ul {
  list-style-type: none;
}

.ps_hover_card {
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid transparent;
  transition: all 0.5s linear;
}

.ps_hover_card.active, .ps_hover_card:hover{
  border: 4px solid var(--bs-blue);
  box-shadow: inset 0 0 2px white;
  outline: 2px solid white;
  outline-offset: -4px;
  transform: translate( 0, -20px);
  box-shadow: 0px 90px 50px -40px;
}

/* Accessori */
.ps_opacity{
  opacity: 0.6;
  border-bottom: 2px solid transparent;
  height: 100%;
  transition: all 0.5s linear;
}

.ps_opacity-hover:hover, .ps_opacity-hover.active{
  opacity: 1;
  border-bottom: 2px solid #0070d1;
  cursor: pointer;
}

.border_radius{
  border-radius: 15px;
  border: transparent;
}

.border_transparent{
  border: transparent;
}

.ps_bg-bebcbb{
  background-color: #bebcbb;
}

.ps_btn-opacity{
  background-color: rgba(255, 255, 255, 0.5);
}

.ps_bg-161c3b{
  background-color: #161c3b;
}

.debug_border{
  border: 1px solid red;
}

.ps_bg-00439c{
  background-color: #00439c;
}



